<body>
    
    <div id="intro">
        <h1>YouAreL</h1>
        <p>We make youRL short!</p>
    </div>
<div class="shorten-url">
    <form action="/urls" method="post">
    Enter URL: 
    <input type="text" name="long_url">
    <input type="submit" value="Shorten">
    </div>
</form>

<div id='flash'>
    <p></p>
    </div>

 <div class="center-content">
     <div class="paste-url">
         <p2> Throw your stuff here!</p2>
     </div>
     <div class="paste-url">
         <p2> Burrrn! </p2>
     </div>
 </div>

   
<p>This is your naughty list</p>
     
  <table class="hover-table">
      <thead>
          <tr>
              <th>URLs</th>
              <th>Counter</th>
          </tr>
      </thead>
        <% @urls.each do |x| %>
    <tr>
        <td>
        <p><%= x.long_url %></p> 
            <p id="short-height"><a target="_blank" href="http://localhost:9393/<%= x.short_url%>"><%= x.short_url%></a></p> 
        </td>
        <td><%= x.click_count %></td>
        </tr>
        <% end %>
    </table>
   
 <body>




